<footer>
    <div class="container">
        <div class="flasio">
            <img src="../../flasio/assets/images/logo-white.png" alt="logo">
            <p>8331 Indian Spring Street <br>Ames, IA 30010</p>
            <p>Email: greenhousematt@gmail.com <br>Call Us: 330-239-0506</p>
        </div>
        <div class="company">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Corporate Orders</a></li>
                <li><a href="#">Refer a Friend</a></li>
                <li><a href="#">Our Guarantee</a></li>
            </ul>
        </div>
        <div class="Support">
            <h3>SUPPORT</h3>
            <ul>
                <li><a href="#">Help + FAQs</a></li>
                <li><a href="#">Track Your Order</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contact Support</a></li>
            </ul>
        </div>
        <div class="follow-us">
            <h3>FOLLOW US</h3>
            <ul>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="payment-methods">
        <img src="../../flasio/assets/images/payment1.avif" alt="Payment Method 1">
    </div>
    <hr>
    <div class="copyright">
        <p>© 2024 Flacio Store</p>
        <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Copyright & Trademark</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Sitemap</a></li>
        </ul>
    </div>
</footer>