<header class="site-header">
        <div class="topbar">
            <div class="container">
                <div class="topbar-left">
                    <div class="topbar-item">
                        <i class="ph ph-map-pin"></i>
                        <span><a href="#">Find Store</a></span>
                    </div>
                    <div class="topbar-separator"></div>
                    <div class="topbar-item">
                        <i class="ph ph-envelope-simple"></i>
                        <span><a href="#">sayhello@demati.com</a></span>
                    </div>
                </div>
                <div class="topbar-right">
                    <div class="topbar-item currency-dropdown">
                        <img src="https://flagcdn.com/w20/us.png" alt="US Flag" class="flag-icon">
                        <span class="currency-text">USD</span>
                        <i class="ph ph-caret-down"></i>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" data-currency="USD">USD</div>
                            <div class="dropdown-item" data-currency="EUR">EUR</div>
                            <div class="dropdown-item" data-currency="GBP">GBP</div>
                        </div>
                    </div>
                    <div class="topbar-separator"></div>
                    <div class="topbar-item language-dropdown">
                        <span class="language-text">English</span>
                        <i class="ph ph-caret-down"></i>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" data-language="English">English</div>
                            <div class="dropdown-item" data-language="Spanish">Spanish</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-header ">
            <div class="container">
                <div class="header-left-actions hide-on-desktop">
                    <div class="mobile-menu-btn" id="open-sidebar">
                        <i class="ph ph-list"></i>
                    </div>
                    <a href="#" class="action-item" id="search-btn-mobile">
                        <i class="ph ph-magnifying-glass"></i>
                    </a>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li class="active has-mega-menu home-menu">
                            <a href="#">HOME <i class="ph ph-caret-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-menu-grid">
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-1.webp"
                                                onerror="this.src='../../flasio/assets/images/home-1.webp'" alt="Home 1">
                                        </div>
                                        <span>Home Modern</span>
                                    </a>
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-2.webp"
                                                onerror="this.src='../../flasio/assets/images/home-2.webp'"
                                                alt="Home 2">
                                        </div>
                                        <span>Home Flat</span>
                                    </a>
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-3.webp"
                                                onerror="this.src='../../flasio/assets/images/home-3.webp'"
                                                alt="Home 3">
                                        </div>
                                        <span>Home Collection</span>
                                    </a>
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-4.webp"
                                                onerror="this.src='../../flasio/assets/images/home-4.webp'"
                                                alt="Home 4">
                                        </div>
                                        <span>Home Classic</span>
                                    </a>
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-5.webp"
                                                onerror="this.src='../../flasio/assets/images/home-5.webp'"
                                                alt="Home 5">
                                        </div>
                                        <span>Home Clean</span>
                                    </a>
                                    <a href="/index.html" class="mega-menu-item">
                                        <div class="mega-img-wrapper">
                                            <img src="../../flasio/assets/images/home-6.webp"
                                                onerror="this.src='../../flasio/assets/images/home-6.webp'"
                                                alt="Home 6">
                                        </div>
                                        <span>Home Stylish</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="has-mega-menu shop-menu">
                            <a href="#">SHOP <i class="ph ph-caret-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-menu-grid shop-grid">
                                    <div class="menu-column">
                                        <img src="../../flasio/assets/images/shop1.jpg"
                                            onerror="this.src='../../flasio/assets/images/shop1.jpg'" alt="shop1">
                                        <button class="discover-btn">Discover</button>
                                    </div>
                                    <div class="menu-column">
                                        <img src="../../flasio/assets/images/shop2.webp"
                                            onerror="this.src='/assets/images/shop2.webp'" alt="shop1">
                                        <button class="discover-btn">Discover</button>
                                    </div>
                                    <!-- Column 1 -->
                                    <div class="menu-column">
                                        <h4>Layout</h4>
                                        <a href="#">Standard</a>
                                        <a href="#">Standard With Banner</a>
                                        <a href="#">Categories Image 1</a>
                                        <a href="#">Categories Image 2</a>
                                        <a href="#">Fullwidth</a>
                                        <a href="#">List view</a>
                                        <a href="#">Simple</a>
                                        <a href="#">Mansonry</a>
                                        <a href="#">Overlay Header</a>
                                        <a href="#">Collection List 1</a>
                                        <a href="#">Collection List 2</a>
                                        <a href="#">Collection Slider</a>
                                    </div>

                                    <!-- Column 2 -->
                                    <div class="menu-column">
                                        <h4>Filter</h4>
                                        <a href="#">Collection List 1</a>
                                        <a href="#">On top</a>
                                        <a href="#">Dropdown</a>
                                        <a href="#">Side out</a>
                                        <a href="#">Drawer</a>
                                        <a href="#">Sidebar Style 1</a>
                                        <a href="#">Sidebar Style 2Hot</a>
                                        <a href="#">Sidebar Style 3</a>
                                        <a href="#">Sidebar Style 4Hot</a>
                                        <a href="#">Filter Scroll</a>
                                    </div>

                                    <!-- Column 3 -->
                                    <div class="menu-column">
                                        <h4>Loader & Cart</h4>
                                        <a href="#">Shop Paggination</a>
                                        <a href="#">Shop Load more button</a>
                                        <a href="#">Shop Infinite scrolling</a>
                                        <a href="#">Cart Dropdown</a>
                                        <a href="#">Cart Side out</a>
                                        <a href="#">Cart Page</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-mega-menu product-menu">
                            <a href="#">PRODUCT <i class="ph ph-caret-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-menu-grid product-grid">
                                    <!-- Column 1 -->
                                    <div class="menu-column">
                                        <h4>Product Layout</h4>
                                        <a href="#">Grid 1 columns</a>
                                        <a href="#">Grid 2 columns</a>
                                        <a href="#">Grid modern</a>
                                        <a href="#">Grid sticky</a>
                                        <a href="#">Slider full-width</a>
                                        <a href="#">Bottom Thumbnails</a>
                                        <a href="#">Left Thumbnails</a>
                                        <a href="#">Right Thumbnails</a>
                                        <a href="#">Without Thumbnails</a>
                                        <a href="#">Left Sidebar</a>
                                        <a href="#">Right Sidebar</a>
                                        <a href="#">Group Product</a>
                                        <a href="#">Tab information</a>
                                        <a href="#">Collapsible tabs information</a>
                                        <a href="#">Full Content information</a>
                                        <a href="#">Vertical information</a>
                                    </div>

                                    <!-- Column 2 -->
                                    <div class="menu-column">
                                        <h4>Featured</h4>
                                        <a href="#">Pre-order product</a>
                                        <a href="#">Sticky add to cart</a>
                                        <a href="#">Video</a>
                                        <a href="#">3D, AR models</a>
                                        <a href="#">Product 360</a>
                                        <a href="#">Countdown Timer</a>
                                        <a href="#">Frequently Bought Together v1</a>
                                        <a href="#">Frequently Bought Together v2</a>
                                        <a href="#">Buy more save more</a>
                                        <a href="#">Real-time visitors</a>
                                        <a href="#">Stock countdown</a>
                                        <a href="#">Back in stock notification</a>
                                        <a href="#">Dynamic checkout button</a>
                                        <a href="#">Trust badge</a>
                                        <a href="#">Delivery information</a>
                                    </div>

                                    <!-- Column 3 -->
                                    <div class="menu-column">
                                        <h4>Product Features</h4>
                                        <a href="#">Zoom Image</a>
                                        <a href="#">Product Upsell Features</a>
                                        <a href="#">Product pickup</a>
                                        <a href="#">Shipping info</a>
                                        <a href="#">Ask a Question</a>
                                        <a href="#">Product Variable Image</a>
                                        <a href="#">Product Variable Color</a>
                                        <a href="#">Product Variable Color and Check Box</a>
                                        <a href="#">Product Variable Dropdown</a>
                                        <a href="#">Product Variable Color and Dropdown</a>
                                        <a href="#">Product Variable Box</a>
                                        <a href="#">Product Variable Check Box</a>
                                    </div>

                                    <!-- Column 4 -->
                                    <div class="menu-column">
                                        <h4>Product Cart</h4>
                                        <a href="#">Scale hover</a>
                                        <a href="#">Slider hover</a>
                                        <a href="#">Fadein hover</a>
                                        <a href="#">Zoom hover</a>
                                        <a href="#">Icons on hover</a>
                                        <a href="#">Icon & add to cart</a>
                                        <a href="#">Quick view button</a>
                                        <a href="#">Add to cart button</a>
                                        <a href="#">Wishlist on the bottom</a>
                                        <a href="#">Dual Button</a>
                                        <a href="#">Slider up</a>
                                        <a href="#">Info on hover</a>
                                        <a href="#">Quick shop button</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-mega-menu blog-menu">
                            <a href="#">BLOG <i class="ph ph-caret-down"></i></a>

                            <div class="mega-menu">
                                <div class="mega-menu-grid blog-grid">

                                    <!-- Column 1 (Text) -->
                                    <div class="menu-column">
                                        <h4>Blog Layout</h4>
                                        <a href="#">Blog Standard</a>
                                        <a href="#">Blog Grid</a>
                                        <a href="#">Blog Grid Mix</a>
                                        <a href="#">List</a>
                                        <a href="#">Post Sidebar</a>
                                        <a href="#">Post One Column</a>
                                        <a href="#">Post Prallax Image</a>
                                        <a href="#">Post Sticky</a>
                                        <a href="#">Post Simple Title</a>
                                    </div>
                                    <!-- Column 2 (Images) -->
                                    <div class="menu-column blog-images">
                                        <div class="blog-img">
                                            <img src="../../flasio/assets/images/blog-1.webp"
                                                onerror="this.src='../../flasio/assets/images/blog-1.webp'" alt="blog1">
                                        </div>
                                        <div class="blog-img">
                                            <img src="../../flasio/assets/images/blog-2.webp"
                                                onerror="this.src='/assets/images/blog-2.webp'" alt="blog2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="has-mega-menu featured-menu">
                            <a href="#">FEATURED <i class="ph ph-caret-down"></i></a>

                            <div class="mega-menu">
                                <div class="mega-menu-grid featured-grid">

                                    <!-- Column 1 -->
                                    <div class="menu-column">
                                        <h4>Shop Pages</h4>
                                        <a href="#">About Us</a>
                                        <a href="#">Contact Us</a>
                                        <a href="#">Faqs</a>
                                        <a href="#">Faqs 2</a>
                                        <a href="#">Wishlist</a>
                                        <a href="#">404 Error</a>
                                    </div>

                                    <!-- Column 2 -->
                                    <div class="menu-column">
                                        <h4>Portfolio</h4>
                                        <a href="#">2 Columns</a>
                                        <a href="#">3 Columns</a>
                                        <a href="#">4 Columns</a>
                                        <a href="#">Masonry LayoutNew</a>
                                    </div>

                                    <!-- Column 3 -->
                                    <div class="menu-column">
                                        <h4>Featured</h4>
                                        <a href="#">Announcement bar</a>
                                        <a href="#">Popup Newsletter</a>
                                        <a href="#">Popup CompareNew</a>
                                        <a href="#">Cookies law info</a>
                                        <a href="#">RTL Layout</a>
                                    </div>
                                    <!-- Column 4 -->
                                    <div class="menu-column">
                                        <h4>Lookbook</h4>
                                        <a href="#">Lookbook Single</a>
                                        <a href="#">Lookbook In Page</a>
                                        <a href="#">Lookbook Simple</a>
                                    </div>
                                    <!-- Column 5 -->
                                    <div class="menu-column">
                                        <h4>Instagram Shop</h4>
                                        <a href="#">Instagram Shop Slider</a>
                                        <a href="#">Instagram Shop Grid Modern</a>
                                        <a href="#">Instagram Shop in Page</a>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="logo">
                    <a href="../../flasio/index.html"><img src="../../flasio/assets/images/logonew.png"
                            onerror="this.src='../../flasio/assets/images/logonew.png'" alt="logo"></a>
                </div>

                <div class="header-actions">
                    <a href="#" class="action-item hide-on-mobile" id="search-btn">
                        <i class="ph ph-magnifying-glass"></i>
                    </a>
                    <a href="#" class="action-item hide-on-mobile" id="user-btn">
                        <i class="ph ph-user"></i>
                    </a>
                    <a href="../../flasio/pages/whishlist.html" class="action-item badge-item">
                        <i class="ph ph-heart"></i>
                        <span class="badge">0</span>
                    </a>
                    <a href="#" class="action-item badge-item">
                        <i class="ph ph-tote"></i>
                        <span class="badge">0</span>
                    </a>
                </div>
            </div>
        </div>
    </header>