<header class="site-header">
    <div class="topbar">
        <div class="container">
            <div class="topbar-left">
                <div class="topbar-item">
                    <i class="ph ph-map-pin"></i>
                    <span><a href="#">Find Store</a></span>
                </div>
                <div class="topbar-separator"></div>
                <div class="topbar-item">
                    <i class="ph ph-envelope-simple"></i>
                    <span><a href="#">sayhello@demati.com</a></span>
                </div>
            </div>
            <div class="topbar-right">
                <div class="topbar-item currency-dropdown">
                    <img src="https://flagcdn.com/w20/us.png" alt="US Flag" class="flag-icon">
                    <span class="currency-text">USD</span>
                    <i class="ph ph-caret-down"></i>
                    <div class="dropdown-menu">
                        <div class="dropdown-item" data-currency="USD">USD</div>
                        <div class="dropdown-item" data-currency="EUR">EUR</div>
                        <div class="dropdown-item" data-currency="GBP">GBP</div>
                    </div>
                </div>
                <div class="topbar-separator"></div>
                <div class="topbar-item language-dropdown">
                    <span class="language-text">English</span>
                    <i class="ph ph-caret-down"></i>
                    <div class="dropdown-menu">
                        <div class="dropdown-item" data-language="English">English</div>
                        <div class="dropdown-item" data-language="Spanish">Spanish</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header ">
        <div class="container">
            <div class="header-left-actions hide-on-desktop">
                <div class="mobile-menu-btn" id="open-sidebar">
                    <i class="ph ph-list"></i>
                </div>
                <a href="#" class="action-item" id="search-btn-mobile">
                    <i class="ph ph-magnifying-glass"></i>
                </a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li class="active has-mega-menu home-menu">
                        <a href="#">HOME <i class="ph ph-caret-down"></i></a>
                        <div class="mega-menu">
                            <div class="mega-menu-grid">
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-1.webp"
                                            onerror="this.src='../../flasio/assets/images/home-1.webp'" alt="Home 1">
                                    </div>
                                    <span>Home Modern</span>
                                </a>
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-2.webp"
                                            onerror="this.src='../../flasio/assets/images/home-2.webp'" alt="Home 2">
                                    </div>
                                    <span>Home Flat</span>
                                </a>
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-3.webp"
                                            onerror="this.src='../../flasio/assets/images/home-3.webp'" alt="Home 3">
                                    </div>
                                    <span>Home Collection</span>
                                </a>
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-4.webp"
                                            onerror="this.src='../../flasio/assets/images/home-4.webp'" alt="Home 4">
                                    </div>
                                    <span>Home Classic</span>
                                </a>
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-5.webp"
                                            onerror="this.src='../../flasio/assets/images/home-5.webp'" alt="Home 5">
                                    </div>
                                    <span>Home Clean</span>
                                </a>
                                <a href="/index.html" class="mega-menu-item">
                                    <div class="mega-img-wrapper">
                                        <img src="../../flasio/assets/images/home-6.webp"
                                            onerror="this.src='../../flasio/assets/images/home-6.webp'" alt="Home 6">
                                    </div>
                                    <span>Home Stylish</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="has-mega-menu shop-menu">
                        <a href="#">SHOP <i class="ph ph-caret-down"></i></a>
                        <div class="mega-menu">
                            <div class="mega-menu-grid shop-grid">
                                <div class="menu-column">
                                    <img src="../../flasio/assets/images/shop1.jpg"
                                        onerror="this.src='../../flasio/assets/images/shop1.jpg'" alt="shop1">
                                    <button class="discover-btn">Discover</button>
                                </div>
                                <div class="menu-column">
                                    <img src="../../flasio/assets/images/shop2.webp"
                                        onerror="this.src='/assets/images/shop2.webp'" alt="shop1">
                                    <button class="discover-btn">Discover</button>
                                </div>
                                <!-- Column 1 -->
                                <div class="menu-column">
                                    <h4>Layout</h4>
                                    <a href="#">Standard</a>
                                    <a href="#">Standard With Banner</a>
                                    <a href="#">Categories Image 1</a>
                                    <a href="#">Categories Image 2</a>
                                    <a href="#">Fullwidth</a>
                                    <a href="#">List view</a>
                                    <a href="#">Simple</a>
                                    <a href="#">Mansonry</a>
                                    <a href="#">Overlay Header</a>
                                    <a href="#">Collection List 1</a>
                                    <a href="#">Collection List 2</a>
                                    <a href="#">Collection Slider</a>
                                </div>

                                <!-- Column 2 -->
                                <div class="menu-column">
                                    <h4>Filter</h4>
                                    <a href="#">Collection List 1</a>
                                    <a href="#">On top</a>
                                    <a href="#">Dropdown</a>
                                    <a href="#">Side out</a>
                                    <a href="#">Drawer</a>
                                    <a href="#">Sidebar Style 1</a>
                                    <a href="#">Sidebar Style 2Hot</a>
                                    <a href="#">Sidebar Style 3</a>
                                    <a href="#">Sidebar Style 4Hot</a>
                                    <a href="#">Filter Scroll</a>
                                </div>

                                <!-- Column 3 -->
                                <div class="menu-column">
                                    <h4>Loader & Cart</h4>
                                    <a href="#">Shop Paggination</a>
                                    <a href="#">Shop Load more button</a>
                                    <a href="#">Shop Infinite scrolling</a>
                                    <a href="#">Cart Dropdown</a>
                                    <a href="#">Cart Side out</a>
                                    <a href="#">Cart Page</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-mega-menu product-menu">
                        <a href="#">PRODUCT <i class="ph ph-caret-down"></i></a>
                        <div class="mega-menu">
                            <div class="mega-menu-grid product-grid">
                                <!-- Column 1 -->
                                <div class="menu-column">
                                    <h4>Product Layout</h4>
                                    <a href="../../flasio/pages/product.html">Grid 1 columns</a>
                                    <a href="../../flasio/pages/product.html">Grid 2 columns</a>
                                    <a href="../../flasio/pages/product.html">Grid modern</a>
                                    <a href="../../flasio/pages/product.html">Grid sticky</a>
                                    <a href="../../flasio/pages/product.html">Slider full-width</a>
                                    <a href="../../flasio/pages/product.html">Bottom Thumbnails</a>
                                    <a href="../../flasio/pages/product.html">Left Thumbnails</a>
                                    <a href="../../flasio/pages/product.html">Right Thumbnails</a>
                                    <a href="../../flasio/pages/product.html">Without Thumbnails</a>
                                    <a href="../../flasio/pages/product.html">Left Sidebar</a>
                                    <a href="../../flasio/pages/product.html">Right Sidebar</a>
                                    <a href="../../flasio/pages/product.html">Group Product</a>
                                    <a href="../../flasio/pages/product.html">Tab information</a>
                                    <a href="../../flasio/pages/product.html">Collapsible tabs information</a>
                                    <a href="../../flasio/pages/product.html">Full Content information</a>
                                    <a href="../../flasio/pages/product.html">Vertical information</a>
                                </div>

                                <!-- Column 2 -->
                                <div class="menu-column">
                                    <h4>Featured</h4>
                                    <a href="../../flasio/pages/product.html">Pre-order product</a>
                                    <a href="../../flasio/pages/product.html">Sticky add to cart</a>
                                    <a href="../../flasio/pages/product.html">Video</a>
                                    <a href="../../flasio/pages/product.html">3D, AR models</a>
                                    <a href="../../flasio/pages/product.html">Product 360</a>
                                    <a href="../../flasio/pages/product.html">Countdown Timer</a>
                                    <a href="../../flasio/pages/product.html">Frequently Bought Together v1</a>
                                    <a href="../../flasio/pages/product.html">Frequently Bought Together v2</a>
                                    <a href="../../flasio/pages/product.html">Buy more save more</a>
                                    <a href="../../flasio/pages/product.html">Real-time visitors</a>
                                    <a href="../../flasio/pages/product.html">Stock countdown</a>
                                    <a href="../../flasio/pages/product.html">Back in stock notification</a>
                                    <a href="../../flasio/pages/product.html">Dynamic checkout button</a>
                                    <a href="../../flasio/pages/product.html">Trust badge</a>
                                    <a href="../../flasio/pages/product.html">Delivery information</a>
                                </div>

                                <!-- Column 3 -->
                                <div class="menu-column">
                                    <h4>Product Features</h4>
                                    <a href="../../flasio/pages/product.html">Zoom Image</a>
                                    <a href="../../flasio/pages/product.html">Product Upsell Features</a>
                                    <a href="../../flasio/pages/product.html">Product pickup</a>
                                    <a href="../../flasio/pages/product.html">Shipping info</a>
                                    <a href="../../flasio/pages/product.html">Ask a Question</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Image</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Color</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Color and Check Box</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Dropdown</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Color and Dropdown</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Box</a>
                                    <a href="../../flasio/pages/product.html">Product Variable Check Box</a>
                                </div>

                                <!-- Column 4 -->
                                <div class="menu-column">
                                    <h4>Product Cart</h4>
                                    <a href="../../flasio/pages/product.html">Scale hover</a>
                                    <a href="../../flasio/pages/product.html">Slider hover</a>
                                    <a href="../../flasio/pages/product.html">Fadein hover</a>
                                    <a href="../../flasio/pages/product.html">Zoom hover</a>
                                    <a href="../../flasio/pages/product.html">Icons on hover</a>
                                    <a href="../../flasio/pages/product.html">Icon & add to cart</a>
                                    <a href="../../flasio/pages/product.html">Quick view button</a>
                                    <a href="../../flasio/pages/product.html">Add to cart button</a>
                                    <a href="../../flasio/pages/product.html">Wishlist on the bottom</a>
                                    <a href="../../flasio/pages/product.html">Dual Button</a>
                                    <a href="../../flasio/pages/product.html">Slider up</a>
                                    <a href="../../flasio/pages/product.html">Info on hover</a>
                                    <a href="../../flasio/pages/product.html">Quick shop button</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-mega-menu blog-menu">
                        <a href="#">BLOG <i class="ph ph-caret-down"></i></a>

                        <div class="mega-menu">
                            <div class="mega-menu-grid blog-grid">

                                <!-- Column 1 (Text) -->
                                <div class="menu-column">
                                    <h4>Blog Layout</h4>
                                    <a href="../../flasio/collections/index.html">Blog Standard</a>
                                    <a href="../../flasio/collections/index.html">Blog Grid</a>
                                    <a href="../../flasio/collections/index.html">Blog Grid Mix</a>
                                    <a href="../../flasio/collections/index.html">List</a>
                                    <a href="../../flasio/collections/index.html">Post Sidebar</a>
                                    <a href="../../flasio/collections/index.html">Post One Column</a>
                                    <a href="../../flasio/collections/index.html">Post Prallax Image</a>
                                    <a href="../../flasio/collections/index.html">Post Sticky</a>
                                    <a href="../../flasio/collections/index.html">Post Simple Title</a>
                                </div>
                                <!-- Column 2 (Images) -->
                                <div class="menu-column blog-images">
                                    <div class="blog-img">
                                        <img src="../../flasio/assets/images/blog-1.webp"
                                            onerror="this.src='../../flasio/assets/images/blog-1.webp'" alt="blog1">
                                    </div>
                                    <div class="blog-img">
                                        <img src="../../flasio/assets/images/blog-2.webp"
                                            onerror="this.src='/assets/images/blog-2.webp'" alt="blog2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-mega-menu featured-menu">
                        <a href="#">FEATURED <i class="ph ph-caret-down"></i></a>

                        <div class="mega-menu">
                            <div class="mega-menu-grid featured-grid">

                                <!-- Column 1 -->
                                <div class="menu-column">
                                    <h4>Shop Pages</h4>
                                    <a href="../../flasio/collections/index.html">About Us</a>
                                    <a href="../../flasio/collections/index.html">Contact Us</a>
                                    <a href="../../flasio/collections/index.html">Faqs</a>
                                    <a href="../../flasio/collections/index.html">Faqs 2</a>
                                    <a href="../../flasio/collections/index.html">Wishlist</a>
                                    <a href="../../flasio/collections/index.html">404 Error</a>
                                </div>

                                <!-- Column 2 -->
                                <div class="menu-column">
                                    <h4>Portfolio</h4>
                                    <a href="../../flasio/collections/index.html">2 Columns</a>
                                    <a href="../../flasio/collections/index.html">3 Columns</a>
                                    <a href="../../flasio/collections/index.html">4 Columns</a>
                                    <a href="../../flasio/collections/index.html">Masonry LayoutNew</a>
                                </div>

                                <!-- Column 3 -->
                                <div class="menu-column">
                                    <h4>Featured</h4>
                                    <a href="../../flasio/collections/index.html">Announcement bar</a>
                                    <a href="../../flasio/collections/index.html">Popup Newsletter</a>
                                    <a href="../../flasio/collections/index.html">Popup CompareNew</a>
                                    <a href="../../flasio/collections/index.html">Cookies law info</a>
                                    <a href="../../flasio/collections/index.html">RTL Layout</a>
                                </div>
                                <!-- Column 4 -->
                                <div class="menu-column">
                                    <h4>Lookbook</h4>
                                    <a href="../../flasio/collections/index.html">Lookbook Single</a>
                                    <a href="../../flasio/collections/index.html">Lookbook In Page</a>
                                    <a href="../../flasio/collections/index.html">Lookbook Simple</a>
                                </div>
                                <!-- Column 5 -->
                                <div class="menu-column">
                                    <h4>Instagram Shop</h4>
                                    <a href="../../flasio/collections/index.html">Instagram Shop Slider</a>
                                    <a href="../../flasio/collections/index.html">Instagram Shop Grid Modern</a>
                                    <a href="../../flasio/collections/index.html">Instagram Shop in Page</a>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="logo">
                <a href="../../flasio/index.html"><img src="../../flasio/assets/images/logonew.png"
                        onerror="this.src='../../flasio/assets/images/logonew.png'" alt="logo"></a>
            </div>

            <div class="header-actions">
                <a href="#" class="action-item hide-on-mobile" id="search-btn">
                    <i class="ph ph-magnifying-glass"></i>
                </a>
                <a href="#" class="action-item hide-on-mobile" id="user-btn">
                    <i class="ph ph-user"></i>
                </a>
                <a href="../../flasio/pages/whishlist.html" class="action-item badge-item">
                    <i class="ph ph-heart"></i>
                    <span class="badge">0</span>
                </a>
                <!-- Cart Icon -->
                <div class="cart-wrapper">

                    <!-- Cart Icon -->
                    <a href="#" class="action-item badge-item">
                        <i class="ph ph-tote"></i>
                        <span class="badge">2</span>
                    </a>

                    <!-- Cart Dropdown -->
                    <div class="cart-dropdown">

                        <div class="cart-header">
                            <h3>Your Cart</h3>
                        </div>

                        <div class="cart-body">

                            <div class="cart-item">
                                <img src="/flasio/assets/images/product-1.webp">
                                <div class="details">
                                    <h4>BOUGHT TOGETHER</h4>
                                    <p>Color: Red</p>
                                    <span>$52.00</span>

                                    <div class="qty-box">
                                        <button>-</button>
                                        <input type="text" value="1">
                                        <button>+</button>
                                    </div>
                                </div>
                                <i class="ph ph-trash"></i>
                            </div>

                            <div class="cart-item">
                                <img src="/flasio/assets/images/product-3.webp">
                                <div class="details">
                                    <h4>A PHILIPPINE (UPSELL)</h4>
                                    <p>Color: Plaid</p>
                                    <span>$240.00</span>

                                    <div class="qty-box">
                                        <button>-</button>
                                        <input type="text" value="3">
                                        <button>+</button>
                                    </div>
                                </div>
                                <i class="ph ph-trash"></i>
                            </div>

                        </div>

                        <div class="cart-footer">
                            <label><input type="checkbox"> Add gift wrap Only</label>

                            <div class="subtotal">
                                <span>Subtotal:</span>
                                <strong>$292.00</strong>
                            </div>

                            <button class="checkout-btn">Checkout</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</header>